
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.App {

  background-image:
  url("https://i.imgur.com/hnsb4Ax.jpg");
-webkit-transition: background 1.5s linear;
-moz-transition: background 1.5s linear;
-o-transition: background 1.5s linear;
-ms-transition: background 1.5s linear;
transition: background 1.5s linear;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 1400px; 
  width: 100%; 
  background-color: #226ba3;
  background-repeat: no-repeat;
  background-size: 2600px;
  font-size: 30px;
  color: #fff; 
  font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.nav {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 20px;
  height: 30px;
  justify-content: space-between;
  padding: 10px 50px 30px 20px;
  text-shadow: 3px 3px 4px rgba(25,25,73, 0.55);
  background-color: #ccc;
  background: linear-gradient(rgba(85, 84, 114, 0.7), rgba(0, 0, 0, 0.05));
}

h3 {
  margin: 0;
  padding-left: 60px;
  display: flex;
  justify-content: center;
}
.whole-current {
  display: flex;
  height: 115px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.current-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  width: 40%; 
  text-align: left;
  background-color: rgb(235, 235, 235,.7);
  color: black;
  margin-left: 30%;
  font-size: 25px; 
  overflow: hidden;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.5);
  border-radius: 5px;
  height: 200px;
}
.title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  height: 30px;
  
}
.current-temp {
  font-size: 4rem;
}
p {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 300px;
  font-size: 16px;
  margin: 0;
}
.middle {
  display: flex;
  width: 500px;
  min-width: 200px;
  min-height: 160px;
  
  
}
.current-words {
  padding: 30px 20px 0 20px;
  width: 300px;
  height: 100px;
}
.minmaxfeels {
  font-size: 16px;
  color: rgb(84, 84, 84);
}
.maxmin {
  display: flex;

}
.min {
  padding-left: 10px;
}
.weather-icon {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-right: 10px;
  /* background-color: rgb(142, 170, 198); */
  /* border-radius: 50%; */
  margin-left: 20px;
  width: 140px;
  height: 140px;

}
.weathericon {
  padding: 30px 0px 0px 0px;
}
.desc {
  color: rgb(84, 84, 84);
}

.hourly-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  width: 40%; 
  background-color: rgb(235, 235, 235,.7);
  color: black;
  margin-left: 30%;
  border-radius: 5px;
  font-size: 25px; 
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.5);
  overflow: hidden;
}

.hour{
  display: flex;
  flex-direction: row;
  justify-self: start;
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.3);
   /* padding-right: 100px;
   width: 100%;
   height: 100px;
   margin: auto; */
   width: 500px;
} 
.hour-words {
  display: flex;
  flex-direction: column;
  /* background-color: #226ba3; */
  text-align: left;
  width: 250px;
  padding: 10px 20px 0 20px;
  
}
.hour-detail {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 128px;
}
.hour-temp {
  font-size: 2.5rem;
  padding-left: 20px;
}
.hour-desc {
  padding-left: 20px;
  font-size: 18px;
  color: rgb(84, 84, 84);
}
 .hour-icons {
  display: flex;
  justify-content: center;

  border-radius: 50%;
  margin-left: 60px;
  /* background-color: #226ba3; */
} 

h4 {
  padding-left: 10px;
  text-align: left;
  margin: 0;
  background-color: #fff;
  width: 100%;
} 

.form {
  padding-bottom: 20px;
  
}

.city,.country {
  display: inline-block;
  font-size: 15px;
  height: 20px;
  border: 1px solid #ccc;
  padding:5px 5px 5px 10px;
  margin: 0 5px 0 0;
  border-radius: 25px;
  background: rgba(238, 238, 238, 0.892);
}

.button {
  height: 20px;
  font-size: 15px;
  padding:7px 10px 23px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: rgb(114, 114, 124,.1);
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
.button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(74, 74, 77, 0.4);
}