.App {
  text-align: center;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100%; 
  width: 100%; 
  background-color: #226ba3;
  font-size: 30px;
  color: #fff; 
}

.whole-current {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.current-container {
  height: 150px;
  width: 450px;
  background-color: rgb(235, 235, 235);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.weather-icon {
  /* background-color: red; */
  width: 35%;
}
.whole {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.hourly-container{
  height: 150px;
  width: 950px;
  background-color: rgb(235, 235, 235);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.hour {
   padding: 50px;
   width: 16.66%;
}

h2 {
  margin: 0;
}